@import "global.scss";
.container {
  .titleContainer {
    display: flex;
    background-color: $primary-color;
    @include titles();

    .percentage {
      flex: 0 1 20%;
    }

    .title {
      flex: 0 1 80%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .date {
    margin: 0 0 0 20%;
    font-family: $secondary-font;
    font-weight: 100;
    color: #3c3838;
  }
}
