$blue: #2980b9;
$lightBlue: #3498db;
$white: #ecf0f1;
$gray: #7f8c8d;

@mixin titles {
  font-family: $primary-font;
  color: $secondary-color;
  font-size: xx-large;
}

@mixin genres {
  display: flex;
  max-width: 80%;
  margin: 1rem -0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}
