@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Abel|Lato:300,400,700");

$primary-font: "Abel", sans-serif;
$secondary-font: "Lato", sans-serif;
$primary-color: #1f5894;
$secondary-color: #00f0e5;
$background-color-input: #eaeaea;
$backgroundlight-color-movie: #e5e5e5;
$backgrounddark-color-movie: #f2f2f2;
